---
import Base from '../../layouts/Base.astro';
import MainHeading from '../../components/MainHeading.astro';
const pageTitle = "About";

---
<Base title={pageTitle}>
	<MainHeading title="About" />

	<p>Hello! 👋 I'm Micaela, but my shorthand property is Lela.</p>
	<p>Frontend tech lead based in Italy, currently building things at <a target="_blank" href="https://livestory.nyc/eu/index.html">Live Story</a>.<br>I care a lot about CSS, SVG, web standards, and making things move on screen in satisfying ways.</p>
	<p><br>Outside of work: animals (frogs and owls specifically 🐸🦉), gaming, drawing, reading, and nature.<br> Not necessarily in that order.</p>
	<p><br>Find me on <a target="_blank" href="https://www.linkedin.com/in/micaela-manolio-b89881172/">LinkedIn</a> if you want to know more about the professional stuff.</p>

</Base>