/**
 * BASE
 */

@use "../00-settings/_settings" as settings;
@use "../01-tools/_tools" as tools;

html {
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	color: var(--color-text);
}

html.dark {
	--color-background: #{settings.$co-black};
	--color-text: #{settings.$co-white};
	--color-border: #{settings.$co-white};
}

body {
	margin: 0;
	padding: 0;
	font-family: settings.$font-family-default;
	font-size: settings.$font-size-s;
	font-weight: settings.$font-weight-default;
	background-color: var(--color-background);

	@include tools.for-small-desktop-up {
		font-size: settings.$font-size-default;
	}
}

a {
	text-decoration: none;
	color: var(--color-text);
	border-bottom: 0.125em solid var(--color-main);
	box-shadow: inset 0 -0.125em 0 var(--color-main);
	transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1),
		color 270ms cubic-bezier(0.77, 0, 0.175, 1);

	&:hover {
		box-shadow: inset 0 -2em 0 var(--color-main);
		color: var(--color-background);
	}
}

strong {
	font-weight: settings.$font-weight-black;
}

em {
	font-style: italic;
}

hr {
	margin-block: 2em;
	border: 0;

	&::before {
		content: url(../../../public/divider.svg);
		display: block;
		width: 100%;
		text-align: center;
	}
}
