/**
 * HEADINGS
 */

@use "../00-settings/_settings" as settings;
@use "../01-tools/_tools" as tools;

.h1,
%font-h1,
.h2,
%font-h2,
.h3,
%font-h3,
.h4,
%font-h4,
.h5,
%font-h5 {
	color: var(--color-text);
	font-weight: settings.$font-weight-black;
	padding: 0;
	margin: 0 0 0.7em 0;
}

// h1
.h1,
%font-h1 {
	font-size: 3em;

	@include tools.for-small-desktop-up {
		font-size: 3.3em;
	}
}

h1 {
	@extend %font-h1;
}

// h2
.h2,
%font-h2 {
	font-size: 2em;

	@include tools.for-small-desktop-up {
		font-size: 2.2em;
	}
}

h2 {
	@extend %font-h2;
}

// h3
.h3,
%font-h3 {
	font-size: 1.7em;

	@include tools.for-small-desktop-up {
		font-size: 2em;
	}
}

h3 {
	@extend %font-h3;
}

// h4
.h4,
%font-h4 {
	font-size: 1.5em;

	@include tools.for-small-desktop-up {
		font-size: 1.6em;
	}
}

h4 {
	@extend %font-h4;
}

// h5
.h5,
%font-h5 {
	font-size: 1.1em;

	@include tools.for-small-desktop-up {
		font-size: 1.2em;
	}
}

h5 {
	@extend %font-h5;
}
