/**
 * BUTTON RESET
 */

@mixin button-reset {
	background-color: transparent;
	border: none;
	line-height: normal;
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;

	&:hover,
	&:focus {
		outline: unset;
	}
}
