---
import Base from '../../layouts/Base.astro';
import MainHeading from '../../components/MainHeading.astro';
const pageTitle = "Homepage";
---
<Base title={pageTitle}>
	<MainHeading title="Uses" />

	<h2>Hardware 💻</h2>
	<ul>
		<li>Laptop: Macbook Pro 14''
			<ul>
				<li>Chip Apple M1 Pro (2021)</li>
				<li>CPU 8-core</li>
				<li>GPU 14-core</li>
				<li>RAM 16 GB</li>
				<li>512 GB SSD</li>
			</ul>
		</li>
		<li>Tower PC Win 10:
			<ul>
				<li>AMD Ryzen 7 5800X3D</li>
				<li>Nvidia GeForce GTX 1050 Ti</li>
				<li>RAM 8GB</li>
				<li>1TB SSD Crucial P1 CT1000P1SSD8</li>
			</ul>
		</li>
		<li>Monitor: BenQ EX351R 35'' Ultra WQHD</li>
		<li>Mouse: Apple Magic Trackpad / Logitech G G305</li>
		<li>Keyboard: Logitech G G713 with <a href="https://www.kiiboom.com/products/kiiboom-x-cosydiaries-rainy-froggy-day-keycap-set">KiiBOOM X Cosydiaries keycap set</a></li>
		<li>Headphones: Sony WH-CH720N</li>
		<li>Mic: Hyperx Solocast</li>
		<li>Tablet: iPad Air 2022 (5th gen)</li>
		<li>Phone: Google Pixel 7 Pro</li>
		<li>Smartwatch: Xiaomi Mi Band 8</li>
		<li>E-reader: Kindle (2022)</li>
	</ul>

	<hr>

	<h2>Software 💿</h2>
	<ul>
		<li>Editor: VS Code Insiders</li>
		<li>Terminal: iTerm2
			<ul>
				<li>Shell: zsh + oh-my-zsh</li>
				<li>Zsh theme: <a href="https://spaceship-prompt.sh/">spaceship</a></li>
			</ul>
		</li>
		<li>Browser: Brave (for personal use) / Firefox Nightly (for programming)</li>
		<li>Design/prototyping: Figma / Procreate</li>
		<li>Notes: Notion</li>
		<li>Calendar: Notion Calendar</li>
		<li>Music: Spotify</li>
		<li>Email: Spark</li>
		<li>Launcher: Alfred</li>
		<li>Password manager: 1Password</li>
	</ul>
</Base>