---
import Base from '../layouts/Base.astro';
const pageTitle = "Homepage";
---
<Base title={pageTitle}>
	<p>Hello! 👋 I'm a front-end developer based in Italy and currently working at <a href="https://livestory.nyc/eu/index.html">Live Story</a>.<br><br> I love to create new things and that's why at times I try to <a href="https://codepen.io/lelamanolio">draw stuff</a> with plain HTML and CSS and I love with a passion animating stuff on the web.<br>I'm obsessed with organizing my life in general, so both in work settings and in personal ones you'll find me crafting new Notion's templates and taking notes of everything.<br><br>My pronouns are she/her & I'm queer.</p>

	<!-- spotify widget tutorial: https://medium.com/@alagappan.dev/create-a-now-playing-widget-using-the-spotify-web-api-in-react-a6cb564ed923 -->

	<h2>Recent TILs</h2>
</Base>