---
import Logo from '../components/Logo.astro';
import Nav from '../components/Nav.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
---

<header class="c-header">
	<a class="c-logo" href="/">
		<Logo color="var(--color-main)" />
	</a>
	<Nav />
	<ThemeToggle />
</header>