---
import Logo from '../components/Logo.astro';
import Nav from '../components/Nav.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
---

<header class="c-header o-container">
	<a class="c-header__logo" href="/">
		<Logo styleModifier="c-header__svg" />
	</a>
	<div class="c-header__nav">
		<Nav />
		<ThemeToggle />
	</div>
</header>