---
import Logo from '../components/Logo.astro';
import Nav from '../components/Nav.astro';
import ThemeIcon from '../components/ThemeIcon.astro';
---

<header>
	<a href="/">
		<Logo color="var(--color-main)" />
	</a>
	<Nav />
	<ThemeIcon />
</header>