---
---
<div class="c-intro">
	<p class="c-intro__desc">Hello! 👋 I'm a front-end developer based in Italy and currently working at <a target="_blank" href="https://livestory.nyc/eu/index.html">Live Story</a>.<br><br> I love to create new things and that's why at times I try to <a target="_blank" href="https://codepen.io/lelamanolio">draw stuff</a> with plain HTML and CSS and I have a passion for animating stuff on the web.</p>

	<img class="c-intro__portrait" src="/portrait.png" alt="Lela's portrait done with Notion Faces" />
</div>