/**
 * THEMES
 */

@use "colors" as colors;

html {
	--color-main: #{colors.$co-main-color};
	--color-main-dark: #{colors.$co-main-color-dark};
	--color-background: #{colors.$co-white};
	--color-text: #{colors.$co-black};
	--color-border: #{colors.$co-black};
}
