/**
 * TYPOGRAPHY
 */
$font-family-primary: "Nunito", serif;

$font-size-xs: 12px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 26px;

$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$line-height-s: 1.2;
$line-height-m: 1.5;
$line-height-l: 1.7;

// default values to use
$font-family-default: $font-family-primary;
$font-size-default: $font-size-m;
$line-height-default: $line-height-m;
$font-weight-default: $font-weight-bold;
